#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Exec=/home/pi/PDL/start.sh
Name=PDL-Pacchetti di Lamponi
GenericName=PDL
Comment=A Raspberry Pi Package Manager
Encoding=UTF-8
Terminal=false
Type=Application
Categories=System
Icon=/home/pi/PDL/icons/PiGroLogoslim.png
Name[de_DE]=PDL-Pacchetti di Lamponi
Path=/home/pi/PDL/